{% comment %}
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <form class="w-100">
          <div class="form-group">
            <label class="modal-title" id="search-modal-title" for="search-modal-input">Search</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <input type="search" name="search" class="form-control" id="search-modal-input" aria-describedby="search-modal-help" placeholder="Search terms">
          </div>
        </form>
      </div>
      <ul id="search-modal-results" class="modal-body list-unstyled d-none">
        {% raw %}
        <script type="x-tmpl-mustache" data-template="search">
          {{#results}}
          <li>
            <a href="{{url}}">{{title}}</a>
            <div>{{{content}}}</div>
          </li>
          {{/results}}
          {{^results}}
            <li class="empty">No results</li>
          {{/results}}
        </script>
        {% endraw %}
      </ul>
    </div>
  </div>
</div>
{% endcomment %}