---
---

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
}

mark {
  padding: 0;
}

.navbar {
  z-index: 10;
  .navbar-brand {
    margin-bottom: 0;
  }
  box-shadow: 0 1px 5px rgba(#000, .3);
}

.btn {
  display: inline-flex;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 600;
  &.btn-lg {
    padding: 1rem 2rem;
  }
}

.form-control {
  box-shadow: 0 0 5px rgba(#000, .5);
}

.form-inline {
  .form-group {
    margin: 0 0 1rem;
    > * {
      margin-right: 1rem;
    }
  }
  label {
    font-weight: 500;
  }
  select, input {
    text-transform: lowercase;
    margin: 0;
  }
}

#search {
  position: relative;
  height: 100vh;
  font-size: 1.25rem;
  .container-fluid, .row {
    height: 100%;
  }
  #search-map {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #search-add-rule {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    display: infline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 0;
  }
}

#footer {
  font-size: 1rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}