---
---
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

#search {
  position: relative;
  height: 100vh;
  h1 {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .container-fluid, .row {
    height: 100%;
  }
  .row > * {
    height: 50%;
  }
  .form-inline {
    font-size: 1.2rem;
    .form-group {
      margin: 0 0 1rem;
      > * {
        margin-right: 1rem;
      }
    }
    .form-control {
      box-shadow: 0 0 5px rgba(#000, .5);
    }
    label {
      font-weight: 500;
    }
    select, input {
      text-transform: lowercase;
      margin: 0;
      font-size: 1.2rem;
    }
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.disabled {
        opacity: .3;
        cursor: not-allowed;
      }
    }
  }
  .search {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px rgba(#000, .3);
  }
  #map {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .add-remove-rule {
    width: 2rem;
    height: 2rem;
    display: infline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 0;
    &.remove {
      transform: rotate(45deg);
    }
  }
}

#footer {
  font-size: 1rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #search {
    .row > * {
      height: 100%;
    }
    .search {
      flex-basis: 35%;
    }
    .map {
      flex-basis: 65%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}